@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: content-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header, footer, .introduction {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header ul {
    display: flex;
    gap: 12px;
    margin-right: 8px;
}

header li :hover {
    color: orangered;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.logo:hover {
    color: orangered !important;
}



header ul, .intro-body, .resume-button{
    font-size: 18px;
    color: #e5e7eb;
}

.introduction {
    padding: 20px;
}

.greeting {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.greeting span {
    color: orangered;
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap-reverse;
}

.introduction .left {
    display: flex;
    flex-direction: column;
}

.intro-body {
    max-width: 700px;
    margin: 10px 0 15px 0;
}

.resume-button {
    height: 50px;
    max-width: 100px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.resume-button :hover {
    border-color: #f9faf8;
    color: #f9faf8;
}

.profile-photo img {
    max-width: 350px;
    height: auto;
    padding-right: 30px;
}

.projects h1 {
    margin: 28px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    row-gap: 50px;
    flex-wrap: wrap;
}

.project-box div {
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 275px;
    text-align: center;
}

.project-box img {
    height: auto;
    max-width: 250px;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

.about-me {
    background-color: #e5e7eb;
    padding: 20px;
}

.about-me h2 {
    color: orangered;
    font-size: 36px;
    padding-bottom: 16px;
    padding-left: 68px;
}

.description {
    max-width: 860px;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 0 110px;
}

.description p {
    display: flex;
    margin-bottom: 4px;
}

.connect a:hover {
    color: orangered;
    cursor: pointer;
    font-weight: 400;
}




footer{
    padding: 8px;
    text-align: center;
}

footer span {
    color: orangered;
}